@model News

<div class="col mb-4">
    <a href="/News/Details/@Model.Id" class="text-decoration-none">
        <!-- Resim kısmı -->
        <div class="ratio ratio-16x9">
            <!-- 16:9 en-boy oranı -->
            <img src="/Img/News/@Model.Image" alt="@Model.Name" class="img-fluid" />
        </div>
        <!-- Kart içeriği olabilir  -->
        
    </a>
</div>