@model IEnumerable<News>
@{
    ViewData["Title"] = "Kampanya Ve Duyurular";
}


<div class="col">
    <h1 class="text-center">Kampanyalarımız</h1>
    <div class="row gx-3  justify-content-center">
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <partial name="_NewsView" model="item" />
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12 text-center">
                <div class="alert alert-warning py-2" role="alert">
                    <h6 class="fw-bold mb-1">Kampanya Bulunamadı</h6>
                    <p class="mb-0 small">Şu anda aktif kampanyamız bulunmamaktadır.</p>
                </div>
            </div>
        }
    </div>
</div>

