@{
    ViewData["Title"] = "Sepetim";
}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <div class="container px-5">
        <img src="/Img/applelogo.jpeg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="72" loading="lazy">
    </div>
    <h1 class="display-4 fw-bold text-body-emphasis">Teşekkürler</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 fw-bold">Siparişiniz Alındı.</p>
        <p class="lead mb-4 fw-bold">Gerekli kontroller yapıldıktan sonra siparişiniz kargoya verilecektir.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="/Account/MyOrders" class="btn btn-primary btn-lg px-4 me-sm-3">Sipariş Takip</a>
            <a href="/" class="btn btn-outline-secondary btn-lg px-4">Alışverişe Devam Et.</a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      
    </div>
</div>